*.so
*.o
*.d
.settings/*
*.cproject
*.project
*.creds

python/build/*
*.pydevproject
*.pyc
*.lib
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.obj
*.iobj
*.meta
*.pch
*.ipdb
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.tlog
*.log
*.idb
*.lastbuildstate
*.ipch
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates
#**/x64
#**/Win32


TODO.txt

#!*/
!/vsbuild/deps/libs/x64/Release/**
!/vsbuild/deps/libs/Win32/Release/**
!/vsbuild/deps/includes**
